* {
  box-sizing: border-box;
}
.food {
  float: left;
  width: 20%;
  padding: 5px;
  height: 200px;
  max-height: 100%;
  /* max-width: 100%; */
}
#food-head {
  width: 100%;
}

#food-head::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-size: 1.25em;
  background-color: #dadacb;
}
img {
  max-width: 100%;
  width: 300px;
}
figcaption {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: linear-gradient(to bottom right, #ee9ca7, #ffdde1);

  /* padding: 10px; */
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid rgba(88, 80, 6, 0.8);
  /* padding: 20px; */
  /* font-size: 30px; */
  text-align: center;
  font-weight: bold;
}
.column1 {
  width: 15%;
  float: left;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .grid-container {
    grid-template-columns: auto;
    background: #a3d8ed;
  }
  .food {
    float: left;
    width: 20%;
    padding: 1px;
    height: 100px;
    max-height: 750%;
    /* max-width: 100%; */
  }
  #food-head {
    width: 100%;
  }

  #food-head::after {
    content: "";
    display: table;
    clear: both;
  }
}
a {
  color: #0e0d0d;
}
a:visited {
  color: rgb(46, 22, 167);
}
.loading{
  width: auto;
  margin: auto;
  text-align: center;
  
}
